@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  font-family: "Righteous", cursive;
  color: #d14f4f;
  line-height: 1.7;
  font-size: 19px;
  background-color: #282828;
  /* background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23424242' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}

/* NavBar styling */

.navbar {
  background-color: #282828;
  display: flex;
  justify-content: center;
}

.link {
  color: #efefef;
  display: inline-block;
  padding: 0.1% 0.1%;
  font-size: 16px;
  text-decoration: none;
  transition: 0.4s ease all;
}

.link:hover {
  color: #33ff33;
  text-shadow: 0 0 3px #33ff33;
  transform: scale(1.1);
}

/* Nasa photo styling */

.nasa-photo {
  display: flex;
  padding: 40px;
  margin: 0 auto;
  max-height: 100%;
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #33ff33;
  text-shadow: 0 0 3px #33ff33;
  text-decoration: none;
  letter-spacing: 4px;
  text-transform: uppercase;
  overflow: hidden;
}

.nasa-photo img {
  width: 50%;
  margin-right: 50px;
  object-fit: contain;
  max-height: 80vh;
}

.nasa-photo h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 30px;
}

.nasa-photo .explanation {  
}

@media (max-width: 1280px) {
  .nasa-photo {
    display: block;
  }

  .nasa-photo img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-link {
  background: #282828;
  padding: 40px 80px;
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #33ff33;
  text-shadow: 0 0 3px #33ff33;
  text-decoration: none;
  letter-spacing: 4px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.2s;
}

.home-link:hover {
  color: #282828;
  background: #33ff33;
  box-shadow: 0 0 10px #33ff33, 0 0 40px #33ff33, 0 0 80px #33ff33;
  transition-delay: 0.3s;
}

.menu {
  display: grid !important;
  width: 100%;
  height: 100vh;
  max-width: 500vh;
  max-height: 500vh;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  justify-content: center;
}

.button1 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 5;
}

.button2 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 5;
}

.button3 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 5;
}

.nasa-container {
  border: 3px solid #fff;
  padding: 20px;
}

/* styling ISS tracker */

.iss-container {
  padding: 0 2%;
}

.iss-title {
  text-align: center;
  justify-content: center;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #33ff33;
  text-shadow: 0 0 3px #33ff33;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.iss-title h1 {
  margin: 0 0.5%;
}

.iss-text p {
  margin: 0 0.5%;
}

.iss-map {
  width: 100%;
  height: 800px;
  display: inline-block;
  justify-content: center;
  border: 1px solid #33ff33;
  box-shadow: 0 0 3px #33ff33;
  padding: 0% 0%;
  overflow: hidden;
}

.iss-text {
  padding: 0% 0.1%;
  width: 100%;
  display: inline-block;
  text-align: center;
  justify-content: center;
  background: #282828;
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #33ff33;
  text-shadow: 0 0 3px #33ff33;
  letter-spacing: 3px;
  text-transform: uppercase;
  overflow: hidden;
}

/* styling Mars Weather components */

.nasa-weather-table {
  display: flex;
  justify-content: center;
  background: #282828;
  padding: 0.5% 5%;
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #33ff33;
  text-shadow: 0 0 3px #33ff33;
  text-decoration: none;
  letter-spacing: 4px;
  text-transform: uppercase;
  overflow: hidden;
  text-align: center;
}

.nasa-weather-text {
  padding: 0.2% 0.2%;
  margin: 0 0.5%;
  width: 40%;
  /* display: inline-block; */
  text-align: center;
  justify-content: center;
  background: #282828;
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #33ff33;
  text-shadow: 0 0 3px #33ff33;
  letter-spacing: 3px;
  text-transform: uppercase;
  overflow: hidden;
  float: left;
}

.nasa-weather-map {
  padding: 0 5%;
  display: flex;
  justify-content: center;
}

.nasa-weather-box {
  border: 1px solid #33ff33;
  box-shadow: 0 0 3px #33ff33;
  margin: 0 0.5%;
  width: 35%;
  height: 300px;
  float: left;
}

/* styling radio buttons */

.nasa-weather-radio {
  display: flex;
  justify-content: center;
  background: #282828;
  font-size: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #33ff33;
  text-shadow: 0 0 3px #33ff33;
  text-decoration: none;
  letter-spacing: 4px;
  text-transform: uppercase;
  overflow: hidden;
  text-align: center;
}

.nasa-weather-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* Styling the table elements */

.table-border {
  width: 76.5%;
  border: 1px solid #33ff33;
  padding: 10px;
  box-shadow: 0 0 3px #33ff33;
}

.table-header {
  background: #282828;
  font-size: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #33ff33;
  text-shadow: 0 0 3px #33ff33;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  overflow: hidden;
}

/* Styling the graph element */

.graph {
  display: flex;
  justify-content: center;
  padding: 0.5% 0.5%;
  /* width: 100%; */
  stroke-width: 0.5px;
  stroke: #33ff33;
  text-shadow: 0 0 1px #33ff33;
}
